<div class="page-wrap">
  <p-card class="page-card crt bezel">
    <ng-template pTemplate="header">
      <h2 class="neon">Quién Soy</h2>
    </ng-template>

    <img src="foto.png" alt="Alumno" class="profile-img" />
    <h2 class="center">Adrián Falasca</h2>
    <p class="center text-muted">Laboratorio de computación IV.</p>

    <h2 class="center">El juego de los palitos</h2>
    <h4 class="center">Explicación del juego</h4>
    <p class="center">Se colocan varios palitos en tres filas fomando una piramide.
      Los jugadores deben ir quitando los palitos sólo de una fila en cada turno. 
      Pierde el que se ve obligado a tomar el último palito.
    </p>
  </p-card>
</div>
